<%- include layouts/header.ejs %>
 
<body>
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h3 class="title">Acerca de&hellip;</h3>
                </div>
            </div>
            <!-- row -->
            <div class="row">

                <!-- Mision -->
                <div class="col-md-4 order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Misi&oacute;n</h3>
                    </div>
                    <div class="order-summary">
                        <center>
                            <img src="img/icono-mision.png" alt="">
                        </center>
                        <p>
                            <br>
                            La misi&oacute;n de Wdemii es mejorar la vida de las personas mediante el aprendizaje. Nuestra tienda virtual global ofrece una amplia biblioteca en varios idiomas que incluye m&aacute;s de 80 000 cursos impartidos por instructores expertos.  Puedes apuntarte a cursos de una amplia gama de categor&iacute;as, como negocio y empresas, programaci&oacute;n, acad&eacute;micos, arte, salud y fitness, idiomas, m&uacute;sica, tecnolog&iacute;a, juegos y mucho m&aacute;s.
                        </p>
                    </div>
                </div>
                <!-- /Mision -->

                <!-- Vision -->
                <div class="col-md-4 order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Visi&oacute;n</h3>
                    </div>
                    <div class="order-summary">
                        <center>
                            <img src="img/icono-vision.png" alt="">
                        </center>
                        <p>
                            <br>
                            La visi&oacute;n de Wdemii es ser una de las plataforma en linea m&aacute;s reconocidas a nivel mundial en cuanto a cursos variados e interesantes. <br> Crecer como empres l&iacute;der y estar a la vanguardia en la rama de e-commerce a nivel mundial gracias al apoyo de todos nuestros clientes y socios.
                        </p>
                    </div>
                </div>
                <!-- /Vision -->

                <!-- Nosotros -->
                <div class="col-md-4 order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Nosotros</h3>
                    </div>
                    <div class="order-summary">
                        <center>
                            <img src="img/icono-nosotros.png" alt="">
                        </center>
                        <p>
                            <br>
                            Somos una empresa fundada en los a&ntilde;os 1980 dedicada al comercio de cursos en linea. Estamos enfocados en la comunidad en general ni&ntilde;os, adolescentes, adultos, etc. Tenemos como objetivo promover el autoaprendizaje y demostrar que la persona que tiene todo el &aacute;nimo de aprender algo nuevo siempre podr&aacute; hacerlo desde la comodidad de su hogar, o desde donde quiera que se encuentre.
                        </p>
                    </div>
                </div>
                <!-- /Nosotros -->

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>

</body>
        		
<%- include layouts/footer.ejs %>