<%- include layouts/header.ejs %>
<body>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="alert alert-danger">
				  <strong>Cancelado!&hellip;</strong> Compra cancelada</a>.
				</div>
				<img src="../../img/payment_cancel.png" alt="payment_cancel.png">
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<hr>

<%- include layouts/footer.ejs %>